html,body{
    margin:0;
    padding:0;
    height:100%;
    font-family:"Cairo","Segoe UI",sans-serif;
}
#container{
    background-color:#fdf6e3;
    padding-left:20%;
    padding-right:20%;
    padding-top:100px;
    min-height:100%;
    box-sizing: border-box;
}
@media screen and (max-width:800px){
    #container{
        padding-left:20px;
        padding-right:20px;
    }
}
nav{
    position: fixed;
    width:100%;
    top:0;
    background-color:#eee8d5;
    padding:10px;
    box-shadow:0px 0px 20px #b3ac97;
}
#links{
    float:right;
    font-size:20pt;
    
}

a{
    color:#dc322f;
}
#links a{
    color:#002b36;
    margin-right:30px;
    text-decoration: none;
}
p{
    color:#073642;
    font-size:15pt;
}
h2{
    color:#d33682;
    font-size:40pt;
    margin-bottom:0px;
    margin-top:0px;
}
h3{
    color:#073642;
    font-size:25pt;
    margin-bottom:0px;
    margin-top:10px;
}
#splash{
    width:100%;
}
#logo{
    width:40px;
}
pre{
    background-color:#eee8d5;
    border-radius:15px;
    padding:20px;
    font-size:12pt;
    width:100%;
    box-sizing: border-box;
}
td{
    min-width:30px;
    font-size:15pt;
    border:2px solid #eee8d5;
    padding:3px;
    text-align:center;
}
table{
    border-collapse: collapse;
    width:100%;
}
tr:nth-child(even){
    background-color:#f8f0dc;
}
li{
    color:#073642;
    font-size:15pt;
}

textarea{
    background-color:#eee8d5;
    border-radius:15px;
    padding:20px;
    font-size:14pt;
    border:none;
    width:100%;
    height:300px;
    box-sizing: border-box;
}
button{
    border-radius:10px;
    padding:10px;
    font-size:16pt;
    font-family:"Cairo";
    background-color:#c7d4d4;
    border:none;
}
button:hover{
    background-color:#7abae7;
}